body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.progressiveImage {
  object-fit: cover;
  object-position: center;
}

.loading {
  filter: blur(5px) opacity(0.7);
}

.loaded {
  filter: blur(0) opacity(1);
  transition: filter 0.3s linear, opacity 0.3s linear;
}